html, body {
	margin: 0;
	padding: 0;
}
body {
	min-width: 100vw;
}
@font-face {
	font-family: OpenSans;
	src: url('../fonts/OpenSans-Regular.ttf');
	font-weight: 400;
}
@font-face {
	font-family: OpenSans;
	src: url('../fonts/OpenSans-Light.ttf');
	font-weight: 200;
}